<ion-view view-title="Listado">
  <!-- do you want padding? -->
  <ion-content class=" has-header">

    <!-- content goes here -->

 <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nombre</span>
    <input type="text" placeholder="Nombre">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Apellido</span>
    <input type="text" placeholder="Apellido">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Correo</span>
    <input type="text" placeholder="Correo">
  </label>
<button class="button button-full button-positive">
  Guardar
</button>
</div>

  </ion-content>
</ion-view>
