<ion-view view-title="Listado">
  <!-- do you want padding? -->
  <ion-content class=" has-header">

    <!-- content goes here -->
  <ion-list>
     <ion-item ng-click="vm.open(coupon.url)" ng-repeat="coupon in vm.coupons">
        <span>{{coupon.location}}</span>
        <ion-option-button class="button-assertive"
                       ng-click="vm.delete(coupon)">
          <span>Eliminar</span>        
        </ion-option-button>
     </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
