<ion-view view-title="Buscar">
  <ion-content class="has-header padding">
    <div class="row">
      <div class="col col-80 center"> 
          <div ng-hide="vm.isFounded" class="radar"></div>
         <!-- <div ng-show="vm.isFounded" class="cont text-center">
            <span class="ion-checkmark-round checked "></span>
          </div> -->

      </div>
    </div>
   <!-- <div ng-show="vm.notBlue">
      <div class="col text center">
        <span>El serviico de Bluetooth se encuentra desactivado</span>
      <div>
    </div>-->
    <div class="row" ng-show="vm.isFounded" >
       <div class="col ">
        <div class="col text-center">
          BEACON
        </div>
            <ion-list>
              <ion-item ng-repeat="i in vm.beaconsList">    
               <button ng-click="vm.goList()" class="button button-positive center">
               Lista
              </button>           
              </ion-item>

            </ion-list>
        </div>
    </div>
              
      </div>
    </div>
  </ion-content>
</ion-view>